#===== PERFIL DA APLICAÇÃO =====
APP_PROFILE=prod

# ===== PostgreSQL =====
# Padrão: postgres / 1234567
DB_URL=jdbc:postgresql://postgres:5432/dsmovie
DB_USERNAME=postgres
DB_PASSWORD=SUBSTITUA_POR_SENHA_FORTE

# ===== PgAdmin =====
# Padrão: admin@dsmovie.com / pgadmin123
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SUBSTITUA_POR_SENHA_FORTE
PGADMIN_EMAIL=admin@dsmovie.com
PGADMIN_PASSWORD=SUBSTITUA_POR_SENHA_FORTE

# ===== Spring Boot =====
PORT=8080
SPRING_PROFILES_ACTIVE=prod